@import "bootstrap";

.box_outline {
  border: 2px solid;
}

.box_outline_red {
  border-color: #A2795A;
}

.box_outline_grey {
  border-color: #CCCCCC;
}

.alternate_row_colors > .field:nth-child(odd) {
  background-color: #F8F8F8;
}